* {
    margin: 0;
}

.sketchpad {
    width: 960px;
    display: flex;
    flex : 1 1 auto;
    flex-wrap: wrap;
    border: 2px solid black;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}